:root{
--fatec-red:#b5121b;
--fatec-dark:#111111;
--fatec-light:#ffffff;
}

.cards-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:20px;
margin-top:30px;
}

.disc-card{
text-decoration:none;
color:white;
}

.disc-card div{
background:linear-gradient(
135deg,
var(--fatec-dark),
#1d1d1d
);

border-left:6px solid var(--fatec-red);

border-radius:12px;

padding:25px;

min-height:160px;

transition:all .3s ease;

box-shadow:0 4px 12px rgba(0,0,0,.25);

}

.disc-card div:hover{
transform:translateY(-5px);

box-shadow:0 8px 24px rgba(181,18,27,.4);

border-left:6px solid #ff4040;

}

.disc-card h2{
margin-top:0;
color:white;
}

.disc-card p{
color:#d8d8d8;
}

.md-header{
background-color:#111111;
}

.md-tabs{
background-color:#b5121b;
}

.md-footer{
background-color:#111111;
}
