.perfil{
display:flex;
flex-wrap:wrap;
gap:30px;
align-items:center;
margin-bottom:40px;
}

.foto-prof{
width:220px;
border-radius:50%;
border:5px solid #b5121b;
}

.cards-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
gap:25px;
}

.disc-card{
background:#111;
border-radius:15px;
overflow:hidden;
padding-bottom:20px;
box-shadow:0 6px 20px rgba(0,0,0,.25);
transition:.3s;
}

.disc-card:hover{
transform:translateY(-8px);
}

.disc-card img{
width:100%;
height:200px;
object-fit:cover;
}

.disc-card h3{
color:white;
padding:15px;
}

.disc-card a{
display:block;
padding:6px 20px;
color:#ef5552;
text-decoration:none;
}

.md-header{
background:#111;
}

.md-tabs{
background:#b5121b
}
